/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background: #79766F;
/*   display: flex;
  justify-content: center;
  align-items: center; */
}

.bgCover {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%,-50%);
  height: 100%;
  pointer-events: none;
  z-index: 3;
  /* background: linear-gradient(180deg, rgba(255,255,255,1) 90%, rgba(0,0,0,0.2) 100%); */
  mix-blend-mode: multiply;
}

/* Scrollbar ================================================ */

::-webkit-scrollbar { /* width */
  width: 0px;
}
::-webkit-scrollbar-track { /* Track */
  background: transparent;
}
::-webkit-scrollbar-thumb { /* Handle */
  background: #b2b2b2;
  border-radius: 2px;
  background-clip: padding-box;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}


/* ================================================ */

input {
  font-family: AppleChancery;
  font-weight: bold;
  outline: none;
}

.wrapper {
  width: 100vw;
  /* height: 100vh; */
  position: fixed;
  perspective: 1000px;
  z-index: 3px;
}

.doors {
  position: fixed;
  transform-style: preserve-3d;
  z-index: 3px;
/*   transform: translateZ(-100px); */
}


.top{
  display: none;
  position: absolute;
  width: 100vw;
  height: 0;
  /* height: 100vh; */
  /* padding: 50vh 0 0 0; */
  transition: all .5s;
  box-sizing: border-box;
  overflow: hidden;
  transform: rotateX(-90deg) translateZ(-50vh);
}

.bottom {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0 0 50vh;
  transition: all .5s;
  box-sizing: border-box;
  overflow: hidden;
  transform: rotateX(90deg) translateZ(-50vh);
}

.left{
  position: absolute;
  width: calc(100vw + 24px);
  height: 200vh;
  padding: 0 5vw 0 50vw;
  transition: all .5s;
  box-sizing: border-box;
  overflow-x: hidden;
  transform: rotateY(90deg) translateZ(-50vw);
  z-index: 3px;
}

.right{
  position: absolute;
  width: calc(100vw + 24px);
  height: 200vh;
  padding: 0 5vw 0 50vw;
  transition: all .5s;
  box-sizing: border-box;
  overflow-x: hidden;
  transform: rotateY(90deg) translateZ(50vw);
}

.front{
  position: absolute;
  width: calc(100vw + 24px);
  height: 10000px;
  /* height: 100vh; */
  padding: 0;
  transition: all .5s;
  box-sizing: border-box;
  overflow: hidden;
  transform: rotateX(0deg) translateZ(-50vh);
  pointer-events: none;
}

.back{
/*   position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0;
  transition: all .5s;
  box-sizing: border-box;
  overflow: hidden;
  transform: rotateX(90deg) translateZ(-100vh);
  background: green; */
}


/* ================================================ */

.col1 {
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y: auto;
}

.col2-1 {
  position: absolute;
  top:0;
  width: calc(50% - 24px);
  height: 100%;
  padding: 10px;
  overflow-y: auto;
}

.col2-2 {
  position: absolute;
  top:0;
  width: calc(50% - 24px);
  height: 100%;
  padding: 10px;
  transform: translate(100%, 0);
  overflow-y: auto;
}

.flip {
  transform: scale(-1, 1);
}

/* ================================================ */

img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2 {
  font-family: CustomFont;
  line-height: 40px;
  text-align: center;
}

.fontStyle{
  font-family: CustomFont;
  font-size: 40px;
/*   line-height: 20px; */
}

.animal {
  display: block;
}

.train {
  display: none;
}