
@media only screen and (max-width:1780px) {   /* For tablets: */
  body {
    /* background: white; */
    background: #79766F;
  }
  textarea {
    display: none;
  }

  .sprite {
    display: none;
  }
  
  .room {
    display: none;
  }
  
  .train {
    display: block;
  }

  #bird {
    display: none;
  }

  #plane {
    display: none;
  }

  #car {
    display: none;
  }

  #index{
    display: none;
  }
  
  #city1 {
    display: none;
  }
  #city2 {
    display: none;
  }
  #city3 {
    display: none;
  }
  #city4 {
    display: none;
  }
  #city5 {
    display: none;
  }

  #house{
    display: none;
  }

  #tree1 {
    display: none;
  }
  #tree2 {
    display: none;
  }

  .panel {
    display: none;
  }
  .weather {
    display: none;
  }
}


@media only screen and (max-width:500px) {   /* For tablets: */
  body {
    background: #79766F;
  }

  .sprite {
    display: block;
  }

  .room {
    display: block;
  }

  .train {
    display: none;
  }

  .panel {
    display: none;
  }
  .weather {
    display: none;
  }
  .s1 {
    display: block;
  }
}