/* font: import ================================================ */

@font-face {
  font-family: 'Menlo';
  src: url('https://communalradio.club/font/Menlo-Regular_RadioClub.woff') format('woff');
  src: url('https://communalradio.club/font/Menlo-Regular_RadioClub.woff2') format('woff2');
}



/* text: drag color ================================================ */

::selection {
  color: #000000;
  text-shadow: 0 0px 6px yellow;
  text-decoration: none;
  /* color: #000000 !important;
  background: #ffffff !important; */
}

/* Code for Firefox */
::-moz-selection { 
  color: #000000;
  text-shadow: 0 0px 6px yellow;
  text-decoration: none;
  /* color: #000000 !important;
  background: #ffffff !important; */
}


/* text: default ================================================ */

a {
  font-family: Menlo;
  /* color: black; */
  /* color: blue; */
  color: #238020;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: blue;
  cursor: pointer;
}

p {
  font-family: Menlo;
  font-size: 23.3px;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
  text-transform: none;
  color: #ffffff;
}

