/* ============================================================= */
/* Variable */
/* ============================================================= */

:root {
  --TVfont-family: Menlo;
  --TVfont-size: 12px;
}


/* ============================================================= */
/* Basic */
/* ============================================================= */

html,
body {
  background: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar { 
  width: 0;
}



/* ============================================================= */
/* TV: Container */
/* ============================================================= */

.TV-container {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 5% 70% 25%; 
  grid-template-rows: 10% 40% auto; 
  /* grid-template-rows: 10% 80% 10%;  */
  gap: 0px 0px; 
  place-items: center;

  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  margin: 0;
  padding: 0;
  aspect-ratio: 300 / 344;
  /* aspect-ratio: 300 / 319; */
  /* aspect-ratio: 322 / 300; */
  /* aspect-ratio: 328 / 274; */
  -webkit-transform: translate(-50%, -50%); /* Safari */
  -moz-transform: translate(-50%, -50%); /* Firefox */
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -o-transform: translate(-50%, -50%); /* Opera */
  transform: translate(-50%, -50%);
  border: none;
  z-index: 2;
}

.TV-skin {
  display: block;
  grid-area: 1 / 1 / 4 / 4;
  position: absolute;
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  pointer-events: none;
  object-fit: cover;
  &::-webkit-media-controls {
    display:none !important;
 }
}




/* ============================================================= */
/* TV: btns */
/* ============================================================= */

.TV-btns { 
  grid-area: 3 / 1 / 3 / 4;
  z-index: 3;
}


#btn-P {
  /* position: absolute;
  top: 10px;
  left: 280px; */
  z-index: 3;
}

#btn-N {
  z-index: 3;
}

#nextPageButton {
  z-index: 3;
}

.btn-pages {
  display: inline;
  z-index: 3;
}



/* ============================================================= */
/* API: Elements */
/* ============================================================= */

img {
  width: 100%;
}

video {
  width: 100%;
}



/* ============================================================= */
/* API: container */
/* ============================================================= */

.ARENA-container {
  /* display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 5% 70% 25%; 
  grid-template-rows: 10% 80% 10%; 
  gap: 0px 0px;  */

  place-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 205px;
  height: 155px;
  margin: 0;
  padding: 0;
  aspect-ratio: 300 / 200;
  /* aspect-ratio: 300 / 319; */
  /* aspect-ratio: 322 / 300; */
  /* aspect-ratio: 328 / 274; */
  -webkit-transform: translate(-50%, -80%); /* Safari */
  -moz-transform: translate(-50%, -80%); /* Firefox */
  -ms-transform: translate(-50%, -80%); /* IE 9 */
  -o-transform: translate(-50%, -80%); /* Opera */
  transform: translate(-50%, -80%);
  border: none;
}



/* ============================================================= */
/* API: Block */
/* ============================================================= */

.Block {
  margin: 0;
  padding: 0;
  overflow: hidden;
  word-wrap: break-word;
}


/* ============================================================= */
/* API: Block Basic - Title, Img (+ noise) */
/* ============================================================= */

.Block_title {
  display: block;
  position: absolute;
  width: 92%;
  height: 155px;
  padding: 4px 0 0 9px;
  overflow: scroll;

  word-wrap: break-word;
  font-family: var(--TVfont-family);
  font-size: var(--TVfont-size);
  color: blue;
  /* mix-blend-mode: difference; */
}

.Block_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index:-1;
}


/* ============================================================= */
/* API: Block Video (mp4, mp3) */
/* ============================================================= */

.Block_video {
  display: block;
  position: absolute;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  object-fit: cover;
  &::-webkit-media-controls {
    display:none !important;
 }
  /* filter: saturate(2); */
  /* filter: sepia(100%); */
  filter: grayscale(100%);
}



/* ============================================================= */
/* API: Block Text */
/* ============================================================= */

.Block_text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
  height: 155px;
  padding: 4px 0 0 9px;
  overflow: scroll;
  z-index:10;

  word-wrap: break-word;
  font-family: var(--TVfont-family);
  font-size: var(--TVfont-size);
  color: white;
  text-shadow: 0 0px 6px black;
  /* mix-blend-mode: difference; */
  /* filter:invert(1); */
}



/* ============================================================= */
/* API: Block Youtube, Website - looping image */
/* ============================================================= */

.Block_loop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.Block_loop_img_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: soft-light; 
  opacity: 0.5;
  z-index:2;
}


.Block_loop_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  -webkit-animation: marquee 7s linear infinite;
  animation: marquee 7s linear infinite;
  filter:grayscale(100%);
}

@-webkit-keyframes marquee {
  from {
    top: -100%;
  }
  to {
    top: 100%;
  }
}

@keyframes marquee {
  from {
    top: -100%;
  }
  to {
    top: 100%;
  }
}


/* ============================================================= */
/* API: Block ? */
/* ============================================================= */

.Block iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

