/* font: import ================================================ */

@font-face {
  font-family: 'FKGroteskMonoTrial-Regular';
  src: url('FKGroteskMonoTrial-Regular.woff') format('woff');
  /* src: url('./font/FKGroteskMonoTrial-Regular.woff') format('woff');
  src: url('./font/FKGroteskMonoTrial-Regular.woff2') format('woff2'); */
}

@font-face {
  font-family: 'FKGroteskSemiMonoTrial-Regular';
  src: url('./font/FKGroteskSemiMonoTrial-Regular.woff') format('woff');
  src: url('./font/FKGroteskSemiMonoTrial-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'ABCArizona';
  src: url('./font/ABCArizonaFlare-Regular.woff') format('woff');
  src: url('./font/ABCArizonaFlare-Regular.woff2') format('woff2');
  /* src: url('./font/ABCArizonaPlusVariable.ttf') format('ttf'); */
  /* src: url('./font/ABCArizonaFlare-Regular.otf') format('opentype'); */
}


@font-face {
  font-family: CustomFont;
  src: url(https://cdn.glitch.global/2e495aa6-c794-4475-af51-330da488e43b/AUTHENTICSans-60.woff?v=1706285961882);
}


/* font ================================================ */


h4 {
  font-family: FKGroteskMonoTrial-Regular;
  font-size: 12px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
}

/* pre {
  font-family: FKGroteskMonoTrial-Regular;
  font-size: 12px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
} */




