

/* sprite ================================ */

#spritePosition {
  position: fixed;
  bottom: 0;
  left: 0;
  /* transform: translate(-50%, 0); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 2;
  pointer-events: none;
}

#spritePosition > div {
  position: absolute;
  bottom:0;
  left: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  pointer-events: auto !important;
}


/* sprite: detail ================================ */

.sprite {
  width: 50px;
  height: 88px;
}

.right {
  background-image: url(pp/sprite-standing-right.png);
}

.left {
  background-image: url(pp/sprite-standing-left.png);
}

.up {
  background-image: url(pp/sprite-standing-up.png);
}

.down {
  background-image: url(pp/sprite-standing-down.png);
}


.walk-right {
  background-image: url(pp/sprite-walk-right.png);
  -webkit-animation: walk .9s steps(6) infinite;
  -moz-animation: walk .9s steps(6) infinite;
  -ms-animation: walk .9s steps(6) infinite;
  -o-animation: walk .9s steps(6) infinite;
  animation: walk .9s steps(6) infinite;
}

.walk-left {
  background-image: url(pp/sprite-walk-left.png);
  -webkit-animation: walk .9s steps(6) infinite;
  -moz-animation: walk .9s steps(6) infinite;
  -ms-animation: walk .9s steps(6) infinite;
  -o-animation: walk .9s steps(6) infinite;
  animation: walk .9s steps(6) infinite;
}

.walk-up {
  background-image: url(pp/sprite-walk-right.png);
  -webkit-animation: walk .9s steps(6) infinite;
  -moz-animation: walk .9s steps(6) infinite;
  -ms-animation: walk .9s steps(6) infinite;
  -o-animation: walk .9s steps(6) infinite;
  animation: walk .9s steps(6) infinite;
}

.walk-down {
  background-image: url(pp/sprite-walk-right.png);
  -webkit-animation: walk .9s steps(6) infinite;
  -moz-animation: walk .9s steps(6) infinite;
  -ms-animation: walk .9s steps(6) infinite;
  -o-animation: walk .9s steps(6) infinite;
  animation: walk .9s steps(6) infinite;
}

@-webkit-keyframes walk {
  from { background-position: 0px; }
  to { background-position: -300px; }
}
@-moz-keyframes walk {
  from { background-position: 0px; }
  to { background-position: -300px; }
}
@-ms-keyframes walk {
  from { background-position: 0px; }
  to { background-position: -300px; }
}
@-o-keyframes walk {
  from { background-position: 0px; }
  to { background-position: -300px; }
}
@-keyframes walk {
  from { background-position: 0px; }
  to { background-position: -300px; }
}